<<<<<<< HEAD
.about img{
    width: 25px;
        
}
.about a{
    text-decoration: none;
    font-size: 30px;
    color: black ;
    font-style: italic;
    font-weight: lighter ; 
}
.about{
    display: flex;
    justify-content: space-around;
    width: 400px;
    color: black    ;
}
.about a:hover{
    text-decoration: underline;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
}
 .nav .bar{
    background-color: black;
    width: 36px;
    height: 5px;
    border-radius: 10px;
    margin: 3px;
    
}
.menü{
    display: none;
}
.container{
    max-width: 90%;
    margin: auto;
}

body{
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.title{
    font-size: 50px;
}


.gridLayout{
    display: grid;
    grid-template-areas: 
        'tower tower serious'
        'tower tower old'
        'modern flower flower'
        'russian business business'
        'russian business business'
        'avm avm greenhome'
        'avm avm greenhome'
    ;
    gap: 20px  ;

}
.project{
    position: relative;
}
.overlay{
    color: white;
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    opacity: 0;
    transition: all 0.2s ease;   
}
.project .overlay:hover{
    opacity: 1;
}

.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#tower{
    grid-area: tower;
}
#modern{
    grid-area: modern;
}
#old{
    grid-area: old;
}
#serious{
    grid-area: serious;
}
#russian{
    grid-area: russian;
}
#business{
    grid-area: business;
}
#avm{
    grid-area: avm;
}
#green{
    grid-area: greenhome;
}
#flower{
    grid-area: flower;
}

.footer{
    padding: 100px;
    font-size: 40px;
    text-align: center;
    font-weight:lighter;
}
.bar{
    background-color: black;
    width: 36px;
    height: 2px;
    border-radius: 50px;
}
@media screen and (max-width:768px ) {
    .gridLayout{
        display: grid;
        grid-template-areas: 
            'tower tower'
            ' flower old'
            'modern serious'
            'russian russian'
            'business avm'
            ' greenhome greenhome'
            
        ;
        gap: 20px  ;
    
    }
    .nav .about{
        display: none;
    }
    .nav{
        padding: 30px 0px;
    }
    .menü{
        display: block;
    }
    .footer{
        padding: 40px 0px;
    }
=======
body{
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 446;
    font-style: normal;
}

.links{
    display: inline-block;
}
h1{
    display: inline-block;
    font-weight: 300;
}
.links li{
    display: inline-block;
}
.links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 8px;
}
a.active{
    border-bottom: 1px solid;
}

.kart{
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    padding: 25px;
}
.kart img{
    width : 100%;
    height: 500px;
    object-fit: cover;
}
.kart img:hover{
    opacity:0.9;
}
.kart h2{
    margin: 8px 0px 16px 0px;
    font-weight: 300;
}
header{
    margin: 32px;
}
.why{
    width: 50%;
    margin: 100px 200px ;
}
.why h3:nth-child(1){
    font-weight: 300;
    font-style: italic;
}
.message{
    color: red;
    font-weight: 300;
    font-size: 32px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 100px;
    border-bottom: 1px solid black;
}
.contact p {
    margin: 0px;
    font-weight: 600;
>>>>>>> 78d941f24645c1a05e78bc5f48477709deff8d5d
}